//- accordion(close-others='false')
//-   accordion-group(heading='Stations', is-open='true')
//-       | This content is straight in the template.
//-   accordion-group(heading='Structures')
//-       | This content is straight in the template.
//-   accordion-group(heading='Rains stuff')
//-       | This content is straight in the template.
//-   accordion-group(heading='Radar')
//-       | This content is straight in the template.
accordion(close-others='oneAtATime')
  accordion-group(heading='Static Header, initially expanded', is-open='true')
      | This content is straight in the template.
    accordion-group(heading='{{group.title}}', ng-repeat='group in groups')
      | {{group.content}}
    accordion-group(heading='Dynamic Body Content')
      p The body of the accordion group grows to fit the contents
      button.btn.btn-default.btn-sm(ng-click='addItem()') Add Item
      div(ng-repeat='item in items') {{item}}
    accordion-group(is-open='isopen')
      accordion-heading
        | I can have markup, too!
        i.pull-right.glyphicon(ng-class='{\'glyphicon-chevron-down\': isopen, \'glyphicon-chevron-right\': !isopen}')
      | This is just some content to illustrate fancy headings.
