html(lang='en' ng-app="app")
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='description', content='')
    meta(name='author', content='')
    title MESONET Site Selection Tool
    link(rel='stylesheet', href='/linker/bootstrap-3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/linker/font-awesome-4.0.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='/linker/leaflet-0.7.2/leaflet.css')
    link(rel='stylesheet', href='/linker/leaflet-sidebar/L.Control.Sidebar.css')
    link(rel='stylesheet', href='/linker/css/main.css')
    link(rel='apple-touch-icon', href='/linker/img/favicon-152.png')
    link(rel='shortcut icon', sizes='196x196', href='/linker/img/favicon-196.png')
    //
       HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
    //if lt IE 9
      script(src='/linker/js/html5shiv.js')
      script(src='/linker/js/respond.min.js')

    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
    script(type='text/javascript', src='/linker/js/jquery-1.11.0.min.js')
    script(src='/linker/bootstrap-3.1.1/js/bootstrap.min.js')
    script(src='/linker/leaflet-0.7.2/leaflet.js')
    script(src='/linker/leaflet-sidebar/L.Control.Sidebar.js')
    script(type="text/javascript", src="/linker/js/socket.io.js")
    script(type='text/javascript', src='/linker/js/d3.v3.min.js')
    script(type='text/javascript', src="http://d3js.org/topojson.v1.min.js")
    script(type="text/javascript", src="/linker/js/leaflet-d3-layer.js")
    script(src='/linker/js/main.js')
  
    script(type='text/javascript', src='/linker/js/src/mesoStations.js')
    script(type="text/javascript", src="/linker/js/angular.js")
    script(type="text/javascript", src="/linker/js/angular-socket.io.js")
    script(type="text/javascript", src="/linker/js/angular-sails.io.js")
    script(type="text/javascript", src="/linker/js/ui-bootstrap-tpls.js") 
    script(type="text/javascript", src="/linker/js/app.js")
    script(type="text/javascript", src="/linker/js/directives/popupDirective.js")
    script(type="text/javascript", src="/linker/js/services/sailsSocket.js")
    script(type="text/javascript", src="/linker/js/controllers/mesonetCtrl.js")
    script(type="text/javascript", src="/linker/js/controllers/sidebarCtrl.js")


  body(ng-controller="MesonetCtrl")
    .navbar.navbar-fixed-top(role='navigation')
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') NY MESONET
      .navbar-collapse.collapse
        form.navbar-form.navbar-right(role='search')
          .form-group.has-feedback.navbar-right(ng-show="user.accessLevel >= 2")
            input#searchbox.form-control(type='text', placeholder='Search')
            span#searchicon.fa.fa-search.form-control-feedback
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a#legendDrop.dropdown-toggle(style='color:black;',href='#', data-toggle='collapse', data-target='.navbar-collapse.in', ng-show="user.accessLevel >= 0")
              i.fa.fa-picture-o(style='color: black;')
              |  Legend
              b.caret
            ul#legend-list(style='color:black;padding-left:20px;padding-right:20px').dropdown-menu
              li Proposed Sites
                  li
                    img(src='/linker/js/images/green.png' style="width:20px;height:20px")
                    | Mesonet Site
                  li
                    img(src='/linker/js/images/orange.png' style="width:20px;height:20px")
                    | Mesonet Profiler
                  li
                    img(src='/linker/js/images/blue.png' style="width:20px;height:20px")
                    | SUNY Site
                  li 
                    img(src='/linker/js/images/imp_forecasting.png' style="width:20px;height:20px")  
                    | User Added site
                  <hr>
              li First Sites
                  li
                    img(src='/linker/js/images/grnsq.png' style="width:20px;height:20px") 
                    img(src='/linker/js/images/greentri.png' style="width:20px;height:20px")
                    | NEPP Site
                  li
                    img(src='/linker/js/images/bluesq.png' style="width:20px;height:20px")
                    img(src='/linker/js/images/bluetri.png' style="width:20px;height:20px")
                    | SUNY Site
                  li
                    img(src='/linker/js/images/redsq.png' style="width:20px;height:20px")
                    img(src='/linker/js/images/redtri.png' style="width:20px;height:20px")
                    | Profiler Site
                  li 
                    img(src='/linker/js/images/ylwsq.png' style="width:20px;height:20px") 
                    img(src='/linker/js/images/ylwtri.png' style="width:20px;height:20px")  
                    | Canal Corp Site
                  <hr>
        ul.nav.navbar-nav
          li.dropdown
            a#login.dropdown-toggle(style='color:black;',href='#', role='button', ng-click="openModal()", ng-show="!loggedIn")
              i.fa.fa-user(style='color: black;')
              |  Login
              b.caret
          li.dropdown
            a#toolsDrop.dropdown-toggle(style='color:black;',href='#', role='button', data-toggle='dropdown', ng-show="loggedIn")
              i.fa.fa-globe(style='color: black;')
              |  Tools
              b.caret
            ul.dropdown-menu
              li
                a#zoom(style='color:black;',href='#', data-toggle='collapse', data-target='.navbar-collapse.in')
                  i.fa.fa-arrows-alt
                  |  Zoom To Full Extent
              li
                a(style='color:black;',href='#', data-toggle='collapse', data-target='.navbar-collapse.in', ng-click="addStation()", ng-show="loggedIn")
                  i.fa.fa-picture-o
                  |  Add Station
              li
                a#hide_layers(style='color:black;',href='#', data-toggle='collapse', data-target='.navbar-collapse.in', ng-show="loggedIn")
                  i.fa.fa-picture-o
                  |  Hide All Layers
              li.divider.hidden-xs
              li
                a(style='color:black;',href='#', data-toggle='collapse', data-target='.navbar-collapse.in', ng-click="openModal()", ng-hide="loggedIn")
                  i.fa.fa-user
                  | Login
              li
                a(style='color:black;',href='#', data-toggle='collapse', data-target='.navbar-collapse.in', ng-click="logout()", ng-show="loggedIn")
                  i.fa.fa-user
                  | Logout
          li.dropdown
            a#downloadDrop.dropdown-toggle(style='color:black;',href='#', role='button', data-toggle='dropdown', ng-show="user.accessLevel == 1")
              i.fa.fa-cloud-download(style='color: black;')
              |  Export
              b.caret
            ul.dropdown-menu
              li
                a(ng-click="exportComments()", data-target='.navbar-collapse.in')
                  i.fa.fa-download
                  |  Export Comments
              li
                a(ng-click="exportStations()", data-target='.navbar-collapse.in')
                  i.fa.fa-download
                  |  Export Stations
          li
            a#layers(style='color:black;',href='#', data-toggle='collapse', data-target='.navbar-collapse.in', ng-show="user.accessLevel >= 0")
              i.fa.fa-list(style='color: black;')
              |  Layers
          li
            a(ng-click="saveChanges()", data-target='.navbar-collapse.in',style='color: black;', ng-show="user.accessLevel >= 0")
              i.fa.fa-floppy-o(style='color: black;')
              |  Save Changes
    #map
    #sidebar(ng-controller="sidebarCtrl")
      include partials/sidebar
    #info
    
    script(type="text/ng-template", id="LoginModalContent.html")
      .modal-header
        h3.panel-title.modal-title
          = 'Login'
      .modal-body
        .alert.alert-danger(ng-show="message!=''") {{message}}
        form.form-horizontal(role="form", action="/login", method="post")
          .form-group
            label.col-sm-2.control-label(for="loginUsername") Username
            .col-sm-10
              input.form-control(type="text", id="loginUsername", name="username", placeholder="Username", ng-model="username")
          .form-group
            label.col-sm-2.control-label(for="loginPassword") Password
            .col-sm-10
              input.form-control(type="password", id="loginPassword", name="password", placeholder="Password",ng-model="password")
      .modal-footer
        .form-group
            button.btn.btn-primary(ng-click="ok('login',username,password)") Login
            button.btn.btn-default(ng-click="cancel()") Cancel

    script(type="text/ng-template", id="CommentModalContent.html")
      .modal-header
        h3.panel-title.modal-title
          = 'Comment on Station {{station_id}}' 
      .modal-body
        .alert.alert-danger(ng-show="message!=''") {{message}}
        form.form-horizontal(role="form", action="/login", method="post")
          .form-group
            .col-sm-12
              ='Reason for station '
                select(ng-model='comment.type', ng-change='changeIcon(station)', style='padding: 5px; background-color: #fff;border:1px solid')
                  option(value='improving')  Improving forecasting
                  option(value='profiler')  Profiler site 
                  option(value='high-impact')  Frequent high-impact events 
                  option(value='deficiency')  Model deficiency areas 
                  option(value='other-sectors')  Beneficial to other sectors 
                  option(value='snow')  Snow measurement site
             .col-sm-12
                br
                ='1st Tier Station? '
                select(ng-model='comment.primary', style='padding: 5px; background-color: #fff;border:1px solid')
                  option(value='Yes') Yes
                  option(value='No')  No 

          .form-group
            .col-sm-12
              textarea.form-control( placeholder="Comment", name="Comment" ng-model="comment.body")
          .form-group(ng-hide="user.id")
            label.col-sm-2.control-label(for="loginUsername") Name
            .col-sm-10
              input.form-control(type="text", id="loginUsername", name="username", placeholder="Your name", ng-model="comment.username")
          .form-group(ng-show="user.id")
            label.control-label(style="float:right;margin-right:10px;") 
              ='Commenting as ' 
              strong {{ user.username }}
      .modal-footer
        .form-group
            button.btn.btn-primary(ng-click="ok('submit')") Submit
            button.btn.btn-default(ng-click="cancel()") Cancel

    script(type="text/ng-template", id="ViewCommentModalContent.html")
      .modal-header
        h3.panel-title.modal-title
          = 'Comments on Station {{station_id}}' 
      .modal-body(style='height:200px;overflow-y:scroll;')
        table.table.table-hover
          thead
            tr
              th 
                strong User
              th 
                strong Comment
          tbody
            tr(ng-repeat="comment in comments")
              td {{comment.username}}
              td {{comment.body}}
      .modal-footer
        .form-group
            button.btn.btn-primary(ng-click="ok('submit')") Ok
           
            

    script(type="text/ng-template", id="errorModalContent.html")
      .modal-body
        .alert.alert-info.no-margin-bot
          div: strong Please wait:
          div Connecting to Mesonet server


  script(src='/linker/typeahead/typeahead.bundle.min.js')
    
   
